.date, .sum, .notice {

  label {
    font-size: 22px;
  }

  input {
    font-size: 18px;
    border-radius: 5px;
  }
}

.date {

  input {
    margin: 20px;
  }
}

.sum {

  input {
    width: 80px;
  }
}

.notice {

  input {
    width: 340px;
  }
}

p {
  display: inline-block;
  font-size: 22px;
  margin: {
    bottom: 0;
    right: 10px;
  }
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

span {
  color: red;
}
