@import '../incomes-list/incomes-list.component.scss';

.food {
  background-color: green;
}

.rent {
  background-color: orange;
}

.clothes {
  background-color: red;
}

.child {
  background-color: pink;
}

.petrol {
  background-color: sienna;
}

.present {
  background-color: blue;
}

.gym {
  background-color: yellow;
}

.other {
  background-color: brown;
}
