table {
  width: 100%;
}

td.mat-cell {
  padding: 3px;
}

td.mat-cell:first-child {
  padding-left: 24px;
}

.mat-elevation-z8 button {
  margin-right: 15px;
}

.mat-elevation-z8 button:hover {
  background-color: rgb(69, 172, 185);
}

.cdk-column-actions {
  width: 170px;
}

span {
  display: block;
  padding: 5px;
  text-align: center;
  width: 50px;
  border-radius: 10px;
  font-weight: 700;
}

.food {
  background-color: green;
}

.rent {
  background-color: orange;
}

.clothes {
  background-color: red;
}

.child {
  background-color: pink;
}

.petrol {
  background-color: sienna;
}

.present {
  background-color: blue;
}

.gym {
  background-color: yellow;
}

.other {
  background-color: brown;
}


