<div>
  <div class="costs">
    <p>Costs total: {{1}}</p>

    <div class="required">
      <p>Required: {{1}}</p>
      <div class="types">
        <p>Food: {{1}}</p>
        <p>Rent: {{1}}</p>
        <p>Child: {{1}}</p>
        <p>Gym: {{1}}</p>
      </div>
    </div>

    <div class="optional">
      <p>Optional: {{1}}</p>
      <div class="types">
        <p>Clothes: {{1}}</p>
        <p>Petrol: {{1}}</p>
        <p>Present: {{1}}</p>
        <p>Other: {{1}}</p>
      </div>
    </div>
  </div>

  <div class="incomes">
    <p>Incomes total</p>
    <div class="person">
      <p>Vitali: {{1}}</p>
      <p>Nastya: {{1}}</p>
    </div>
  </div>
  <div>
    <p>Accumulation: {{1}}</p>
  </div>
</div>
