<div class="wrapper">
  <div class="costs">
    <p>Costs total: {{total}}</p>
    <div class="required">
      <p>Required: {{333}}</p>
      <div class="types">
        <ol>
          <li *ngFor='let itemRequired of required'>{{ itemRequired }}: {{3}}</li>
        </ol>
      </div>
    </div>
    <div class="optional">
      <p>Optional: {{1}}</p>
      <div class="types">
        <ol>
          <li *ngFor='let itemOptional of optional'>{{ itemOptional }}: {{1}}</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="incomes">
    <p>Incomes total: {{1}}</p>
    <div class="person">
      <p *ngFor='let user of users'>{{ user }}: {{1}}</p>
    </div>
  </div>
  <div>
    <p>Accumulation: {{1}}</p>
  </div>
</div>
