.wrapper {
  display: flex;
  max-width: 600px;
}

div {
  margin: 0 auto;
}

ol {
  margin-left: 50px;
}

.costs > p, .incomes > p, .wrapper > div:nth-child(3) {
  font-size: 22px;
}

.required > p, .optional > p, .person p {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px;
}

p:first-child {
  margin-top: 10px;
}

