.wrapper {
  display: flex;
  max-width: 600px;

  & > div:nth-child(3) span {
    color: rgb(49, 59, 204);
  }
}

div {
  margin: 0 auto;
}

ol {
  margin-left: 50px;
}

.costs > p, .incomes > p, .wrapper > div:nth-child(3) {
  font: {
    family: Arial, Tahoma, sans-serif;
    size: 24px;
  }
}

.required > p, .optional > p, .person p {
  font: {
    family: Arial, Tahoma, sans-serif;
    size: 18px;
  }
  margin: {
    left: 20px;
    top: 10px;
  }
}

p:first-child {
  margin-top: 10px;
}

.costs span {
  color: red;
}

.incomes span {
  color: green;
}
