<div class="wrapper">
  <div class="costs">
    <p>Costs total: {{total}}</p>
    <div class="required">
      <p>Required: {{ currentRequired.required }}</p>
      <div class="types">
        <ol>
          <li *ngFor='let itemRequired of required'>{{ itemRequired }}: {{ currentRequired[itemRequired] }}</li>
        </ol>
      </div>
    </div>
    <div class="optional">
      <p>Optional: {{currentOptional.optional}}</p>
      <div class="types">
        <ol>
          <li *ngFor='let itemOptional of optional'>{{ itemOptional }}: {{ currentOptional[itemOptional]}}</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="incomes">
    <p>Incomes total: {{1}}</p>
    <div class="person">
      <div *ngFor='let user of users'>
          <p>{{ user }}: {{1}}</p>
          <div class="types">
            <ol>
              <li *ngFor='let typeIncome of typesIncomes'>{{ typeIncome }}: {{ currentOptional[itemOptional]}}</li>
            </ol>
          </div>
      </div>
    </div>
  </div>
  <div>
    <p>Accumulation: {{1}}</p>
  </div>
</div>
