.wrapper {
  display: flex;
  flex-direction: column;
}

.flex {
  @extend .wrapper;
  justify-content: center;
  padding: {
    left: 15px;
    right: 15px;
  }
}

canvas {
  height: calc(100vh - 410px) !important;
}

table {
  border-spacing: 10px;
  margin: 0 auto;
}

.container-button {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 200px;
}
