<div class="flex">
  <div class="flex-item">
    <div class="container-canvas">
      <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
  <div class="wrapper">
    <div class="flex-item" *ngIf="lineChartData[0].data.length">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <div class="container-button">
        <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
        <button *ngIf="arrayIndexArrayScale.length" mat-button mat-raised-button color="primary" (click)="scale()">Scale</button>
      </div>
    </div>

    <app-filter-graphs></app-filter-graphs>
  </div>
</div>
