table {
  width: 100%;
}

.mat-elevation-z8 button {
  margin-right: 15px;
}

.mat-elevation-z8 button:hover {
  background-color: rgb(69, 172, 185);
}

.cdk-column-actions {
  width: 170px;
}

.link {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 10px;
}

.link:hover {
  cursor: pointer;
  background-color: chartreuse;
}


