@font-face {
  font-family: 'EIisabethische';
  src: url('../../../assets/fonts/EIisabethische.ttf');
}

div {
  display: flex;
  height: 10px;
  justify-content: center;
  padding: 10px;
  background-image: linear-gradient(rgb(157, 255, 0), yellow);
  margin-top: 10px;
}

p {
  font: {
    size: 14px;
    family: EIisabethische, sans-serif;
  }
  color: #607D8B;
}
