<div>
  <p>Select the type of purchase:</p>
  <div class="container">
      <label>
          <input type="radio" name="type" value="food" required>Food
      </label>
      <label>
          <input type="radio" name="type" value="rent">Rent
      </label>
      <label>
          <input type="radio" name="type" value="clothes">Clothes
      </label>
      <label>
          <input type="radio" name="type" value="child">Child
      </label>
      <label>
          <input type="radio" name="type" value="petrol">Petrol
      </label>
      <label>
          <input type="radio" name="type" value="present">Present
      </label>
      <label>
          <input type="radio" name="type" value="gym">Gym
      </label>
      <label>
          <input type="radio" name="type" value="other">Other
      </label>
  </div>
  <div class="notice">
      <label for="notice">Other notification:</label>
      <input type="text" id="notice" placeholder="If you need, please enter other information">
  </div>
</div>
