table {
  width: 100%;
}

td.mat-cell {
  padding: 3px;

  &:first-child {
    padding-left: 24px;
  }
}

.mat-elevation-z8 button {
  margin-right: 15px;

  &:hover {
    background-color: rgb(69, 172, 185);
  }
}

.cdk-column-actions {
  width: 170px;
}

span {
  display: block;
  padding: 5px;
  text-align: center;
  width: 50px;
  border-radius: 10px;
  font-weight: 700;
}

.Vitali  {
  background-color: rgb(22, 149, 22);
}

.Nastya {
  background-color: rgb(255, 81, 0);
}
