<app-button-menu></app-button-menu>

<div style="text-align:center">
<app-form-field [newField]="editField" (validForm)="validForm($event)"></app-form-field>
<!-- <form id="form" [formGroup]="editField">

  <div class="date">
    <label for="date">Choise a date:</label>
    <span *ngIf="!editField.controls.date.valid"> *Required</span>
    <input type="date" id="date" formControlName="date" [min]="dataMin" [max]="dataMax">
  </div>

  <div class="price">
    <label for="price">Enter a price: </label>
    <span *ngIf="!editField.controls.price.valid && editField.controls.price.touched"> *Required </span>
    <input type="number" id="price" formControlName="price" step="0.01" placeholder="BYR">
  </div>

  <div>
    <p>Select the type of purchase: </p>
    <div class="container">
        <label *ngFor="let kind of listCategory">
          <input type="radio" formControlName="type" value="{{kind}}">{{kind}}
        </label>
    </div>

    <div class="notice">
        <label for="notice">Other notification: </label>
        <input type="text" id="notice" formControlName="other" placeholder="If you need, please enter other information">
    </div>
  </div>
</form> -->

<button type="submit" form="form" (click)="add()" [disabled]="!validForm">Add</button>
<button type="reset" (click)="cancel()">Cancel</button>
</div>
