@font-face {
  font-family: 'EIisabethische';
  src: url('../../../assets/fonts/EIisabethische.ttf');
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #369;
  font: {
    family: Arial, Tahoma, sans-serif;
    size: 18px;
  }
}

form {
  position: absolute;
  top: 40%;
  margin: 0 auto;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(rgb(157, 255, 0), yellow);
}

label {
  display: block;
  width: 200px;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font: {
    size: 1em;
    family: Arial, Tahoma, sans-serif;
  }
  padding-left: .4em;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  border: 1px solid transparent;
  border: {
    radius: 3px;
    top: none;
    bottom: 1px solid #DDD;
  }
}

button {
  font: {
    family: EIisabethische, sans-serif;
    size: 16px;
  }
  color: black;
  width: 70px;
  height: 30px;
  background-color: rgb(90, 155, 111);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;

  &:nth-child(5) {
    float: right;
    margin-right: 60px;
  }

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: default;
  }
}

span {
  color: red;
}
