<form [formGroup]="profileForm">
  <h2>Enter your login and password</h2>
  <label>
    Name:
    <span *ngIf="!profileForm.controls.login.valid && profileForm.controls.login.touched">*Required</span>
    <input type="text" formControlName="login">
  </label>
  <label>
    Password:
    <span *ngIf="!profileForm.controls.password.valid && profileForm.controls.password.touched">*Required</span>
    <input type="password" formControlName="password" autocomplete="on">
  </label>
  <button type="button" (click)="signIn()" [disabled]="!profileForm.valid">Log in</button>

  <!-- if need the registration -->
  <!-- <button type="button" (click)="register()" [disabled]="!profileForm.valid">Register</button> -->
