<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome, please, enter your current purchasses {{ title }}!
  </h1>
  <form action="" id="form">
      <app-calendar></app-calendar>
      <app-price></app-price>
      <app-types></app-types>
  </form>
  <button type="submit" form="form" value="Submit">Add</button>
  <button type="submit" value="Submit">Edit</button>
  <button type="submit" value="Submit">Statistics</button>
</div>
<!-- <router-outlet></router-outlet> -->
