<div class="container">
  <h2>Please, choose parameters for filter</h2>
  <mat-radio-group aria-label="Select an option" (change)="onChange($event)">
    <mat-radio-button value="checkDate" color="warn" checked>Date</mat-radio-button>
    <mat-radio-button value="checkMounth" color="warn">Mounth</mat-radio-button>
  </mat-radio-group>

  <div class="criterion">
    <div class="date" [ngClass]="{disabled: checkDate}">
      <div>
        <p>from:</p>
        <mat-form-field color="warn">
          <input #inputFrom matInput [min]="minDateFrom" [max]="maxDateFrom" [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="setLowDateFilter($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          <!-- <mat-error *ngIf="picker.hasError('picker', 'maxlength')">You have more than 60 characters</mat-error> -->
        </mat-form-field>
      </div>

      <div>
        <p>to:</p>
        <mat-form-field color="warn">
          <input #inputTo matInput [min]="minDateTo" [max]="maxDateTo" [matDatepicker]="picker2" placeholder="Choose a date" (dateChange)="setTopDateFilter($event)">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="select" [ngClass]="{disabled: checkMounth}">
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select (selectionChange)="filterFormYear($event.value)" [(value)]="selectedYear">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>Please, choose a mounth:</p>
      <ng-select [items]="mounths"
                 [addTag]="addTagFn"
                 [hideSelected]="true"
                 multiple="true"
                 bindLabel="name"
                 [(ngModel)]="selectedMounth"
                 (change)="filterFormMounth($event)">
      </ng-select>
    </div>
  </div>
</div>

<br>
Selected value: {{selectedCompanies | json}}
