<div class="dialog-overlay" [ngStyle]="{'height': cssHeight}">
  <div class="dialog" [ngStyle]="{'margin-top': cssMargTop}">
    <div class="header"></div>
    <div class="dialog-msg">
      <p>Are you sure you want to delete?</p>
    </div>
    <div class="footer">
      <div class="controls">
        <button mat-raised-button color="warn" (click)="deleteId()">ОК</button>
        <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>

