@import '../../statistics/filters/filters.component.scss';

h3 {
  font: {
    family: Arial, Tahoma, sans-serif;
    size: 16px;
  }
  margin: {
    bottom: 10px;
    top: 10px;
  }
}

.date {
  margin-right: 0;
}

.mat-radio-group {
  margin: 0 auto;
  width: 420px;
  display: flex;
  justify-content: space-around;
}

.mat-radio-button {
  margin: 0;
}

.select {
  padding: 0 20px;
}
