<div class="container">
  <h3>Please, choose parameters for filter</h3>
  <mat-radio-group aria-label="Select an option" (change)="onChange($event)">
    <mat-radio-button value="oneYear" color="warn" checked>Anniversary</mat-radio-button>
    <mat-radio-button value="someYears" color="warn">On years</mat-radio-button>
  </mat-radio-group>

  <div class="criterion">
    <div class="select" [ngClass]="{disabled: oneYear}">
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select (selectionChange)="filterAnniversary()" [(value)]="selectedYear">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>Please, choose an parameter:</p>
      <ng-select [items]="parameters"
                 [addTag]="addTagFnParameter"
                 [hideSelected]="true"
                 multiple="true"
                 bindLabel="name"
                 [(ngModel)]="selectedParameters"
                 maxSelectedItems = 3
                 (change)="filterAnniversary()">
      </ng-select>
    </div>
    
    <div class="select" [ngClass]="{disabled: someYears}">
        <p>Please, select years:</p>
        <ng-select [items]="years"
                   [addTag]="addTagFnYear"
                   [hideSelected]="true"
                   multiple="true"
                   bindLabel="name"
                   [(ngModel)]="selectedYears"
                   maxSelectedItems = 3
                   (change)="filterYears($event)">
        </ng-select>

        <mat-form-field>
          <mat-label>Parameter</mat-label>
          <mat-select (selectionChange)="filterYears($event)" [(value)]="selectedParameter">
            <mat-option *ngFor="let parameter of parameters" [value]="parameter">
              {{parameter}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  </div>
</div>
